<div style="float:left;border:5px solid;padding:0">
<div style="border-left:4vh solid green;
            border-top:4vh solid red;
            border-right:4vh solid black;
            border-bottom:4vh solid blue;
            height:100%;width:100%"></div>
</div>
