.tile {
    border:1px solid gray;
    background-color:rgb(240,240,240);
    height:3vh;
    width:3vh;
    float:left;
    text-align: center;
    vertical-align: center;
    cursor:pointer;
    padding:0;
    margin:0;
}

.tile:hover {
    background-color: rgb(230,230,230)
}

.tile-selected {
    background-color:rgb(200,200,200);
}