<div class="group-wrapper">
  <div class="clearfix" *ngFor="let tileRow of tiles; let rowid=index">
    <app-tile *ngFor="let tile of tileRow" [tile]="tile">
      <!--div *ngIf="tile.isHighlighted" style="z-index:-100;">x</div-->
    </app-tile>
  </div>
</div>