.yard {
    border: 2px outset;
    height:18vh;
    width:18vh;
    padding:0;
    margin:0;
    position:relative;
    padding:5.4vh;
}

.yard-wrapper{
    float:left;
    padding:0;
    margin:0;
}

.piece-container {
    position: relative;
    height:100%;
    background-color:white;
    border: 0px solid black;
    padding:0.25vh;
    margin:0;
}